# vim swap files:
*~
*.swp
*.swo
*.pyc
# not necessary:
node_modules/
bower_components/
venders/

# cache
__pycache__/
sass-cache/

# jekyll
_config.yml
_includes/
_layouts/
_posts/
_sass/
_site/

#
py.pelican/
ruby.jekyll/
js.metalsmith/
